@charset "UTF-8";
html {
    font: 1em/1.7 "serif";
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f8f8f8;
}

header {
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    max-width: 980px;
    border-bottom: 10px double #f8f8f8;
}

header h1 {
    text-align: center;
}	

div.wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin: 0 auto;
    width: 90%;
    max-width: 980px;
}

div.wrapper main {
    flex: 4;
}

div.wrapper main article p span {
    color: rgb(0, 255, 255);
}

div.wrapper main article iframe {
    max-width: 100%;
    background-color: #fff;
}

div.wrapper main article ul.examples,
div.wrapper aside ol {
    padding-left: 0;
    list-style-type: none;
}

div.wrapper main article ul.examples li {
    padding-bottom: 10px;
}

div.wrapper main article p a,
div.wrapper main article ul.examples li a {
    text-decoration: none;
    color: rgb(0, 255, 255);
}

div.wrapper main article p a:focus,
div.wrapper main article p a:hover,
div.wrapper main article ul.examples li a:focus,
div.wrapper main article ul.examples li a:hover {
    border-bottom: 2px solid;
}

div.wrapper aside {
    flex: 1;
    position: sticky;
    align-self: start;
    top: 0px;
}

div.wrapper aside ol li a {
    display: block;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: #ddd;
    box-sizing: border-box;
}

div.wrapper aside ol li a.active {
    border-left: 2px solid rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.2);
    color: #f8f8f8;
}

@media screen and (max-width: 799px) {
    div.wrapper {
        display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 90%;
    }

    div.wrapper aside {
        position: relative; /* position: sticky; を指定しているためデフォルトに戻す */
	width: 100%;
	text-align: center;
    }

    div.wrapper aside ol {
        display: flex;
	flex-direction: column;
    }

    div.wrapper aside ol li {
	margin: 10px;
	border: 1px solid #fff;
    }

    div.wrapper aside ol li a.active {
	border: none; /* ボーダーの設定をリセットする */
	background-color: #000;
    	color: #f8f8f8;
    }

    div.wrapper aside ol li a:active {
        background-color: rgba(0, 255, 255, 0.4);
    }
}
